parameters:
    level: 9
    paths:
        - php-src
    ignoreErrors:
        # strval, intval, floatval, boolval
        - '#Parameter \#1 \$va[rl]u?e? of function [sibf][tnol][rtoo][la]?t?val expects#'
        # literal-string - failed RFC & too restrictive for this library
        # @link https://github.com/phpstan/phpstan/discussions/7238
        - '#Parameter \#1 \$sql of method Nette\\Database\\Explorer\:\:fetchAll\(\) expects literal\-string, non\-falsy\-string given\.#'
        - '#Parameter \#1 \$sql of method Nette\\Database\\Explorer\:\:fetch\(\) expects literal\-string, non\-falsy\-string given\.#'
